.App {
	background-color: #282c34;
	color: white;
	min-height: 100vh;
	padding: 8rem 20rem;
}

a {
	cursor: pointer;
	color: #85c4ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #be7df8;
}